@import "colors";

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  &__container {
    width: 800px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;

    &--mood-icons {
      display: flex;
      justify-content: center;

      .laugh-btn {
        color: $mood-color-1;
      }

      .smile-btn {
        color: $mood-color-2;
      }

      .meh-btn {
        color: $mood-color-3;
      }

      .frown-btn {
        color: $mood-color-4;
      }

      .tear-btn {
        color: $mood-color-5;
      }

      .active {
        background-color: currentColor;
      }
      .active i {
        color: white;
      }
    }

    &--mood-icons button {
      outline: none;
      border: none;
      clip-path: circle();
      padding: 0.5rem;
      margin: 0 4px;
      background: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--mood-icons button:active {
      transform: scale(0.9);
    }
  }
}

.function__container {
  position: absolute;
  top: 120px;
  right: -20px;
}

.function__container button {
  border: none;
  outline: none;
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 8px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  padding: 6px;
  transition: all 0.3s ease;
}

.function__container button:hover {
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: white;
}
